@using WebApp.Models;
@model IEnumerable<WebApp.Models.Apartment>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    var dataPoints = string.IsNullOrWhiteSpace((string)ViewBag.ChartData) ? "" : (string)ViewBag.ChartData;
    
}

<div style="visibility:hidden" class="dataPoints" data-points="@dataPoints"></div>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.NumberOfApartment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortCol="@("rooms")" asp-route-sortOrder="@(ViewBag.SortParam)">@Html.DisplayNameFor(model => model.Rooms)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceHistory)
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfApartment)
                </td>
                <td>
                    <a href="@Html.DisplayFor(modelItem => item.Url)">@Html.DisplayFor(modelItem => item.Url)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rooms)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>

                <td>
                    @foreach (var ph in item.PriceHistory)
                    {
                        <p>
                            Дата: @(ph.PriceChangeDate.Date.ToShortDateString())
                            Цена: @ph.PriceAtDate
                        </p>

                    }
                </td>

                @* <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td> *@
            </tr>
        }
    </tbody>
</table>

